<div>
    <h1>
      <%=@the_board.name%>
    </h1>
<hr>
</div>

<h2>Add a new post</h2>
<form action="/insert_post" method = "post">
  <div>
    <label for="title_field">Title</label>
    <input type="text" name = "query_title" id = "title_field">
  </div>
  <div>
    <label for="body_field">Body</label>
    <textarea name="query_body" id="body_field" rows="3"></textarea>
  </div>

  <div>
    <label for="expiration_field">Expires on</label>
    <input type="date" id = "expiration_field" name = "query_expires_on">
  </div>
  <input type="hidden" id="board_id_box" name="query_board_id" value="<%=@the_board.id%>">
  <button>Add post</button>
</form>


<hr>

<h2>Active posts</h2>

<table border = "1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>


  <%@the_board.posts.where(expires_on: ..Date.today).each do |each_post|%>
  <tr>
    <td><%=each_post.title%></td>
    <td><%=each_post.body%></td>
    <td><%=each_post.created_at%></td>
    <td><%=each_post.expires_on%></td>
  </tr>
  <%end%>
</table>

<h2>Expired posts</h2>
<table border = "1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expired on</th>
  </tr>

  <%@the_board.posts.where(expires_on: ..Date.today).each do |each_post|%>
  <tr>
    <td><%=each_post.title%></td>
    <td><%=each_post.body%></td>
    <td><%=each_post.created_at%></td>
    <td><%=each_post.expires_on%></td>
  </tr>
  <%end%>
</table>
